@{
    ViewBag.Title = "HỌC PHẦN";
}

<h3 class="text-uppercase pt-3">HỌC PHẦN</h3>
<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="search-box">
                    @Html.TextBox("HocPhan-search", null, new { @class = "form-control", @maxlength = "20" })
                    <button type="button" class="search-button"><i class="material-icons">search</i></button>
                </div>
            </div>
            <div class="col-3 text-right">
                <a id="btnThemHocPhan" href="#" class="btn btn-primary" data-trigger="modal" data-target="#modal" data-url="@Url.Action("ThemHocPhan", "HocPhan")"><i class="fa fa-plus btn-icon-word-size"></i>Thêm học phần</a>
            </div>
        </div>
        <div class="row">
            <div id="hoc-phan-container" style="width: 100%">
                <table class="table table-hover table-bordered table-custom pl-0 pr-0" cellspacing="0" id="hoc-phan-table" style="width: 100%">
                    <thead class="thead-default">
                        <tr>
                            <td>STT</td>
                            <td>Mã học phần</td>
                            <td>Tên học phần</td>
                            <td>Bộ môn</td>
                            <td>Số tín chỉ</td>
                            <td>Số tiết LT</td>
                            <td>Số tiết TH</td>
                            <td style="min-width:140px; max-width:200px"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/hocphan")
    <script>
        $(function () {
            HocPhanModule.timKiem();
        });
    </script>

}
