@model int
@using (Html.BeginForm("XoaBoMonConfirmed", "BoMon", FormMethod.Post, new { id = "formXoaBoMon" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("BoMonid", Model)
    <div class="modal-header">
        <h5 class="text-uppercase">Xoá thông tin bộ môn</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert">
            Bạn có muốn xoá thông tin bộ môn?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-danger text-uppercase pull-right" id="xoa-BoMon-btn" aria-hidden="true">Xoá</button>
    </div>
}
<script>
    $(function () {
        XoaBoMonModule.init();
    });
</script>