@using PhanCongGiangDay.UtilityHelpers
@{
    ViewBag.Title = "KHOÁ";
}
@Html.Hidden("role", AccountUtils.CurrentUserLv())
<h3 class="text-uppercase pt-3">Khoá</h3>
<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="search-box">
                    @Html.TextBox("Khoa-search", null, new { @class = "form-control", @maxlength = "20" })
                    <button type="button" class="search-button"><i class="material-icons">search</i></button>
                </div>
            </div>
            <div class="col-3 text-right">
                <a id="btnThemKhoa" href="#" class="btn btn-primary" data-trigger="modal" data-target="#modal" data-url="@Url.Action("ThemKhoa", "Khoa")"><i class="fa fa-plus btn-icon-word-size"></i>Thêm khoá</a>
            </div>
        </div>
        <div class="row">
            <div id="khoa-container" style="width: 100%">
                <table class="table table-hover table-bordered table-custom pl-0 pr-0" cellspacing="0" id="khoa-table" style="width: 100%">
                    <thead class="thead-default">
                        <tr>
                            <td>STT</td>
                            <td>Tên khoá</td>
                            <td>Số lượng sinh viên</td>
                            <td>Năm bắt đầu</td>
                            <td>Năm kết thúc</td>
                            <td>Chương trình đào tạo</td>
                            <td style="min-width:140px; max-width:200px"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/khoa")
    <script>
        $(function () {
            KhoaModule.timKiem();
        });
    </script>

}
