
    <div>
        <div class="user-place d-inline-block">
            Xin chào <a href="@Url.Action("Index","TaiKhoanNhanVien")">ABC <img src="#"
            onerror="this.onerror = null;this.src = '@Url.Content("#")'" alt="user name" /></a>
        </div>
    </div>
