@model System.Web.Mvc.HandleErrorInfo
@using Lib.Resources.Resources

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@NotifyMessage.THONGBAO_LOI</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

