@model int
@using (Html.BeginForm("XoaPhanCongNhomLopConfirmed", "PhanCongNhomLop", FormMethod.Post, new { id = "formXoaPhanCongNhomLop" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("PhanCongNhomLopid", Model)
    <div class="modal-header">
        <h5 class="text-uppercase">Xoá thông tin phân công nhóm lớp</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert">
            Bạn có muốn xoá thông tin phân công nhóm lớp?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-danger text-uppercase pull-right" id="xoa-PhanCongNhomLop-btn" aria-hidden="true">Xoá</button>
    </div>
}
<script>
    $(function () {
        XoaPhanCongNhomLopModule.init();
    });
</script>
