@{
    ViewBag.Title = "GIẢNG VIÊN";
}

<h3 class="text-uppercase pt-3">GIẢNG VIÊN</h3>
<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="search-box">
                    @Html.TextBox("GiangVien-search", null, new { @class = "form-control", @maxlength = "20" })
                    <button type="button" class="search-button"><i class="material-icons">search</i></button>
                </div>
            </div>
            <div class="col-3 text-right">
                <a id="btnThemGiangVien" href="#" class="btn btn-primary" data-trigger="modal" data-target="#modal" data-url="@Url.Action("ThemGiangVien", "GiangVien")"><i class="fa fa-plus btn-icon-word-size"></i>Thêm giảng viên</a>
            </div>
        </div>
        <div class="row">
            <div id="giang-vien-container" style="width: 100%">
                <table class="table table-hover table-bordered table-custom pl-0 pr-0" cellspacing="0" id="giang-vien-table" style="width: 100%">
                    <thead class="thead-default">
                        <tr>
                            <td>STT</td>
                            <td>Mã cán bộ</td>
                            <td>Họ</td>
                            <td>Tên</td>
                            <td>Năm sinh</td>
                            <td>Chức danh</td>
                            <td>Học vị</td>
                            <td>Chức vụ</td>
                            <td>Đơn vị</td>
                            <td>Bộ môn</td>
                            <td>Trường</td>
                            <td>Chuyên ngành đào tạo</td>
                            <td style="min-width:140px; max-width:200px"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/giangvien")
    <script>
        $(function () {
            GiangVienModule.timKiem();
        });
    </script>

}
